<div>
<div class="containerPlayer">
  <div class="playlistContainer" id="listContainer">
    <ul id="playListContainer">
      <% @playlist.each do |song| %>
        <li data-uuid="<%= song.id %>" data-src="<%= song.file.url %>"><%= song.title %></li>
			<% end %>
		</ul>
	</div>
	<div id="playerContainer">
		<div id="controlContainer">
			<ul class="controls">
				<li>
					<a href="#" class="shuffle shuffleActive" data-attr="shuffled"></a>
				</li>
				<li>
					<a href="#" class="left" data-attr="prevAudio"></a>
				</li>
				<li>
					<a href="#" class="play" data-attr="playPauseAudio"></a>
				</li>
				<li>
					<a href="#" class="right" data-attr="nextAudio"></a>
				</li>
				<li>
					<a href="#" class="repeat" data-attr="repeatSong"></a>
				</li>
			</ul>
			<div class="audioDetails">
				<span class="songPlay"></span>
				<span data-attr="timer" class="audioTime"></span>
			</div>
			<div class="progress">
				<div data-attr="seekableTrack" class="seekableTrack"></div>
				<div class="updateProgress"></div>
			</div>
		</div>

		<div class="volumeControl">
			<div class="volume volume1"></div>
			<input class="bar" data-attr="rangeVolume" type="range" min="0" max="1" step="0.1" value="0.7" />
		</div>
	</div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= Song.human_attribute_name 'track' %></th>
      <th><%= Song.human_attribute_name 'title' %></th>
      <th><%= Song.human_attribute_name 'artist' %></th>
      <th><%= Song.human_attribute_name 'album' %></th>
      <th><%= Song.human_attribute_name 'year' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <%= render 'song', song: song, playlist: @playlist %>
    <% end %>
  </tbody>
</table>

<%= paginate @songs %>

