<div>
  <%= form_for :search, method: :get, remote: true, html: {class: ''} do |f| %>
    <%= text_field_tag(:q, params[:q],
      class: 'search-query span2', placeholder: t('label.search')) %>
    <%= link_to content_tag(:i, nil, class: 'mdi-action-search'), '#',
      class: 'search',
      title: t('label.search'),
      data: {
        'show-tooltip' => true,
        'placement' => 'bottom',
        'search-for' => '#songs_tbody'
      } %>
    <%#= submit_tag t('label.search'), class: 'btn btn-info',
      title: t('label.search'),
      data: {
        'show-tooltip' => true,
        'placement' => 'bottom',
        'search-for' => '#songs_tbody'
      } %>

  <% end %>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= Song.human_attribute_name 'track' %></th>
      <th><%= Song.human_attribute_name 'title' %></th>
      <th><%= Song.human_attribute_name 'artist' %></th>
      <th><%= Song.human_attribute_name 'album' %></th>
      <th><%= Song.human_attribute_name 'year' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="songs_tbody">
    <%= render "songs_list" %>
  </tbody>
</table>

<%= paginate @songs %>

